{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Mes ingredients{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 d-flex pt-3">Mes ingredients</h1>
        {% include 'partial/_messageFlash.html.twig' %}
        <div class="count pt-4">
            <a href="{{ path('app_ingredient.new') }}" class="btn btn-primary">Ajouter un ingredient</a>
            {% if ingredients.items > 0 %}
                <h5 class="lead mt-2">Total d'ingredients: <span class="text-success">{{ ingredients.getTotalItemCount }}</span></h5>
            {% else %}
                <h5 class="lead">Il n'y a aucun ingredient</h5>  
            {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date d'ajout</th>
                        <th>Modification</th>
                        <th>Suppression</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider table-light table-bordered">
                    {% for ingredient in ingredients %}
                        <tr>
                            <div class="row">
                                <td class="pt-3 pb-3">{{ ingredient.name|capitalize }}</td>
                                <td>{{ ingredient.price|number_format(0, ' ', ' ') }} Ariary</td>
                                <td>{{ ingredient.createdAt|date('d/m/y') }}</td>
                                <td>
                                    <a href="{{ path('app_ingredient.edit', {id: ingredient.id}) }}" class="btn btn-warning"><span class="fa fa-edit"></span> Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('app_ingredient.delete', {id: ingredient.id}) }}" class="btn btn-danger"><span class="fa fa-trash"></span> Supprimer</a>
                                </td>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>   
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(ingredients) }}
        </div>    
    </div>
{% endblock %}
